.cell {
  border: solid 1px #000;
}
.game-view-ingredient {
  text-align: center;
}
.game-view-ingredient label {
  padding: 1rem 0;
}
.game-view-ingredient input {
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 0;
}
.single-zone .found {
  text-decoration: line-through;
}
.ingredient-table .found {
  text-align: center;
}
.ingredient-table .notes {
  width: 80%;
}
