.cell-a {
  background: #fff;
}
.cell-b {
  background: #e6e6e666;
}
h1 {
  text-align: center;
}
.App .tabs .button {
  font-size: 0.8rem;
}
.App .tabs-content {
  border: 0;
  font-size: 0.8rem;
}
.App .tabs-panel {
  padding: 0.5rem 0;
}
.game-view .tabs-content {
  border: 0;
}
.game-view .grid-container {
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #e6e6e6;
}
.game-view-ingredient {
  text-align: center;
  padding: 5px;
}
.game-view-ingredient label {
  cursor: pointer;
}
.game-view-ingredient input {
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 0;
}
.game-view-ingredient .notes {
  white-space: pre-wrap;
}
.game-view-ingredient label > [type="checkbox"] {
  margin: 0;
}
.game-view-ingredient .name {
  font-weight: bold;
}
.game-view-ingredient .zone {
  text-decoration: underline;
}
.game-view-ingredient .source {
  font-style: italic;
}
.single-zone .found {
  text-decoration: line-through;
}
.ingredient-table .found {
  text-align: center;
}
.ingredient-table .notes {
  width: 80%;
  white-space: pre-wrap;
}
.single-zone .found-column {
  margin: 0;
}
.single-zone .found-column input {
  margin: 0.5rem 0.625rem 0.625rem;
}
.credits {
  text-align: center;
}
